*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

header{
    padding: 30px 120px;
    margin-bottom: 12px;
}

.header{
    display: flex;
    align-items: start;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
}

.list{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .list-item{
    padding: 8px 25px 25px;
    font-family: 'Big Shoulders', sans-serif;
    color: #3D3D3D;
    font-size: 16px;
  }

  .list-item.active{
    border-bottom: 3px solid #46A358;
    font-family: 'Big Shoulders', sans-serif;
  }

  .cta{
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #fff;
    border-radius: 6px;
    background-color: #46A358;
    border: none;
    font-family: 'Big Shoulders', sans-serif;
  }

  .cta:hover {
    background-color: #3a8f4e;
    cursor: pointer;
}

h1{
    font-family: 'Big Shoulders', sans-serif;
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

h2{
    font-family: 'Big Shoulders', sans-serif;
    color: #3D3D3D;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px; /* 100% */
    text-transform: uppercase;
}

p{
    font-family: 'Big Shoulders', sans-serif;
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.pmsc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px;
    background-color: #f9f9f9;
    max-width: 1200px;
    max-height: 450px;
}

button{
    font-family: 'Big Shoulders', sans-serif;
    border-radius: 6px;
    background-color: #46A358;
    color: #FFF;
    font-size: 16px;
    border: none;
    padding: 8px 18px;
    gap: 4px;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
}

body{
    padding: 30px 120px 52px 120px;
}
